body{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

header{
    justify-content: center;
    
    text-align: center;
}

header .category-btn-wrapper{

height:200px;
background-color:grey;
}